ul{
    background-color: black;
    display: flex;
    color: white;
    

}
 .center{
    align-self: center;
 }

*{
    margin: 0;padding: 0;
}
ul li img{
    height: 9vh;

}
li{
    margin: 11px;
  
margin-top: 16px
}
body{
    background-color: blanchedalmond;
}
.container{
    min-height: 97vh;
    background-color: black;
    color: white;
    margin: 23px 28px;
    border-radius: 6px;
    background-image: url("bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;

}
#myProgressBar{
    width: 75vw;
    cursor: pointer;
    /* align-self: center; */
}
.insideBottom{
    align-self: center;
    margin-top: 14px;
    cursor: pointer;
}


.bottom{
    background-color:black;
    position: sticky;
display: flex;
padding-top: 12px;
color:white;
flex-direction: column;
align-items: center;
justify-content: center;
bottom:0
}
.rightimg{
    height: 7vh;
    border-radius: 24px;

}
.songItem{
    background-color: white;
    display: flex;
    color:black;
    width: 31vw;
height: 7vh;
justify-content: space-between;
margin:12px;
border-radius: 31px;
align-items: center;
}

.songlistplay img{
    cursor :pointer;
}
.songlist{
    margin-left:20px;
}
.songinfo{
    position:absolute;
    left:5vw;

}
.songinfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
.red{
    background-color: red;
    border-radius: 7px;
    }
.green{
    background-color: green;
    border-radius: 7px;
}


@media screen and (max-width:564px) {
    .songItem{
        width:auto;
    }
    .songinfo{
        top:6vh;
    }
}